body {
  overflow: hidden;
}
a:link {
  color: #474747;
}
a:visited {
  color: #754fa0;
}
#app {
  position: relative;
  height: 100vh;
}
#app header {
  min-height: 62px;
  max-height: 62px;
  border-bottom: 1px solid #636363;
  background: #474747;
  color: #ffffff;
  line-height: 62px;
}
#app header .tool {
  padding: 0 10px;
}
#app header .user-info {
  padding: 0 10px;
}
#app header .user-info .dropdown:last-child .dropdown-content,
#app header .user-info .dropdown:last-child .dropdown-menu {
  right: 0;
}
#app header .user-info .dropdown:not(:last-child) .dropdown-content,
#app header .user-info .dropdown:not(:last-child) .dropdown-menu {
  left: 0;
}
#app header .tool-btn {
  color: #ffffff;
  cursor: pointer;
  padding: 0 10px;
  display: inline-block;
  height: 62px;
  border-bottom: 1px solid #636363;
  transition: background 0.25s, border 0.25s;
}
#app header .tool-btn:hover {
  background: #3a3a3a !important;
  border-color: #f2d40d;
  border-bottom-width: 4px;
}
#app header .tool-btn.toggle {
  background: #3a3a3a;
  border-color: #f2d40d;
  border-bottom-width: 1px;
}
#app header .tool-btn.toggle:hover {
  border-bottom-width: 4px;
}
#app header .tool-btn.dropdown {
  position: relative;
  z-index: 2;
  background: #474747;
}
#app header .tool-btn.dropdown .dropdown-content {
  position: absolute;
  z-index: 1;
  background: #474747;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  line-height: 1em;
  visibility: hidden;
  opacity: 0;
  transition: 0.25s ease;
  border-right: 1px solid #636363;
  border-left: 1px solid #636363;
  border-bottom: 1px solid #636363;
}
#app header .tool-btn.dropdown .dropdown-content li {
  list-style: none;
}
#app header .tool-btn.dropdown .dropdown-content li a {
  display: block;
  padding: 8px 10px;
  border-bottom: 1px solid #636363;
  transition: background 0.25s;
}
#app header .tool-btn.dropdown .dropdown-content li a:hover {
  background: #3a3a3a;
}
#app header .tool-btn.dropdown .dropdown-content li:last-child a {
  border-bottom: none;
}
#app header .tool-btn.dropdown .dropdown-left {
  left: 0;
}
#app header .tool-btn.dropdown .dropdown-right {
  right: 0;
}
#app header .tool-btn.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}
#app header a {
  display: inline-block;
  color: #ffffff;
}
#app section.row {
  height: calc(100vh - calc( 63px  * 2));
  align-items: stretch;
}
#app section.row nav {
  position: relative;
  flex-basis: 250px;
  max-width: 250px;
  background: #474747;
  margin-left: 0;
  z-index: 1000;
  overflow: hidden;
  transition: margin-left 0.25s;
  color: #ffffff;
}
#app section.row nav a {
  color: #ffffff;
}
#app section.row nav .nav {
  padding: 0 0 25px 0;
  height: 100%;
}
#app section.row nav .nav .nav-menu li {
  position: relative;
  padding-left: 10px;
}
#app section.row nav .nav .nav-menu > li {
  transition: padding-left 0.25s, background 0.25s;
}
#app section.row nav .nav .nav-menu > li a {
  text-decoration: none;
  display: block;
  min-height: 25px;
  padding: 8px 30px 8px 5px;
  cursor: pointer;
}
#app section.row nav .nav .nav-menu > li ul {
  list-style: none;
}
#app section.row nav .nav .nav-menu > li ul.ng-hide li {
  max-height: 0;
}
#app section.row nav .nav .nav-menu > li ul li {
  overflow: hidden;
  max-height: 150px;
  border-left: 2px solid #90d36b;
  background: linear-gradient(to right, #90d36b 0%, #3a3a3a 50%);
  background-size: 200%, 100%;
  background-position: 100% 0;
  transition: padding-left 0.25s, max-height 0.75s ease, background-position 0.75s;
}
#app section.row nav .nav .nav-menu > li ul li:hover {
  padding-left: 20px;
  background-position: 50% 0;
}
#app section.row nav .nav .nav-menu > li ul.ng-hide-add {
  animation-name: hide;
  -webkit-animation-name: hide;
  animation-duration: 0.75s;
  -webkit-animation-duration: 0.75s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}
#app section.row nav .nav .nav-menu > li ul.ng-hide-remove {
  animation-name: show;
  -webkit-animation-name: show;
  animation-duration: 0.75s;
  -webkit-animation-duration: 0.75s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}
#app section.row nav .nav .nav-menu > li.toggle > a {
  position: relative;
}
#app section.row nav .nav .nav-menu > li.toggle > a:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: transparent;
  top: calc(50% - 5px);
  right: 10px;
  border: 3px solid #90d36b;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
  transition: left 0.25s, transform 0.75s;
}
#app section.row nav .nav .nav-menu > li.toggle.open {
  background: #3a3a3a;
}
#app section.row nav .nav .nav-menu > li.toggle.open > a:after {
  transform: rotate(-135deg);
}
#app section.row nav .nav .nav-menu > li.toggle:before {
  content: '';
  top: 5%;
  height: 90%;
  border-right: 3px solid #90d36b;
  border-bottom: none;
  transform: rotate(0deg);
}
#app section.row nav .nav .nav-menu > li .badge {
  position: absolute;
  right: 10px;
  top: calc(50% - calc(22px / 2));
}
#app section.row nav .nav .nav-menu > li:hover,
#app section.row nav .nav .nav-menu > li.active {
  padding-left: 20px;
  background: #3a3a3a;
}
#app section.row nav .nav .nav-menu > li:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: transparent;
  top: calc(50% - 5px);
  left: -10px;
  border: 3px solid #90d36b;
  border-top: none;
  border-left: none;
  transform: rotate(-45deg);
  transition: left 0.25s;
}
#app section.row nav .nav .nav-menu > li.active:before {
  left: 3px;
}
@media all and (max-width: 600px) {
  #app section.row nav {
    margin-left: -250px;
  }
  #app section.row nav.active {
    margin-left: 0;
  }
  #app section.row nav.active + article {
    margin-left: -250px;
  }
  #app section.row nav + article {
    margin-left: 0;
  }
}
#app section.row nav:last-child {
  margin-left: -250px;
}
#app section.row article {
  flex: 1 0 auto;
  font-weight: normal;
  transition: margin-left 0.25s;
  position: relative;
}
#app section.row article .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #f5f5f5;
}
#app section.row article .content.ng-enter,
#app section.row article .content.ng-leave {
  transition: left 0.5s ease;
}
#app section.row article .content.ng-enter {
  left: -100%;
}
#app section.row article .content.ng-enter:after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  width: 10px;
  height: 100%;
  background: #90d36b;
}
#app section.row article .content.ng-enter-active {
  left: 0;
}
#app footer {
  height: 64px;
  background: #474747;
  border-top: 1px solid #636363;
  color: #ffffff;
}
#app footer .about {
  padding: 10px 10px;
}
.scroll.x-auto {
  overflow-x: auto;
}
.scroll.x-always {
  overflow-x: scroll;
}
.scroll.x-hide {
  overflow-x: hidden;
}
.scroll.y-auto {
  overflow-y: auto;
}
.scroll.y-always {
  overflow-y: scroll;
}
.scroll.y-hide {
  overflow-y: hidden;
}
.scroll::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
.scroll::-webkit-scrollbar-track {
  background: transparent;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(47, 47, 47, 0.5);
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
pre::-webkit-scrollbar,
code::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
pre::-webkit-scrollbar-track,
code::-webkit-scrollbar-track {
  background: transparent;
}
pre::-webkit-scrollbar-thumb,
code::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(47, 47, 47, 0.5);
}
.modal {
  box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 0 3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ucf {
  text-transform: capitalize;
}
.lower {
  text-transform: lowercase;
}
.upper {
  text-transform: uppercase;
}
.txt-align-normal {
  text-align: left;
}
.txt-align-center {
  text-align: center;
}
.txt-align-right {
  text-align: right;
}
