<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>WebSocket Client</title>
    <link rel="stylesheet" href="/ai.ui/css/ai-ui.css" />
    <link rel="stylesheet" href="/app.css" />
    <script src="https://artmares.nyc3.digitaloceanspaces.com/angular-1.6.5/angular.min.js"></script>
    <script src="https://artmares.nyc3.digitaloceanspaces.com/angular-1.6.5/angular-animate.js"></script>
    <script src="/angular-translate/angular-translate.js"></script>
    <script src="/ai.ui/ai-ui.js"></script>
</head>
<body class="ai-grid">
    <div class="row center">
        <div class="md-5">
            <h1>User</h1>
            <div ng-controller="userChat">
                <ai-form class="ai-grid">
                    <ai-fieldset>
                        <ai-text ng-model="user.client_id" label="Client ID"></ai-text>
                        <ai-text ng-model="user.task_id" label="Task ID"></ai-text>
                        <ai-button class="btn btn-primary" ng-click="connect()" ng-disabled="connected">Connect</ai-button>
                    </ai-fieldset>
                </ai-form>
            </div>
        </div>
    </div>
    <ai-modals ng-show="subview" ng-switch="subview">
        <div class="modal xs-9 sm-9 md-5 lg-4 xl-3" ng-controller="Chat" ng-switch-when="OpenChat">
            <div class="modal-header">
                <h3>WebSocket Messages</h3>
            </div>
            <div class="modal-body">
                <ai-form class="ai-grid">
                    <ai-fieldset class="ai-row">
                        <ai-textarea ng-model="data.messages"></ai-textarea>
                    </ai-fieldset>
                </ai-form>
            </div>
            <div class="modal-footer">
                <ai-button class="btn btn-danger" ng-click="close()">Close</ai-button>
            </div>
        </div>
    </ai-modals>
</body>
<script src="/app.js"></script>
</html>