@xs-viewport: 0px;
@sm-viewport: 480px;
@md-viewport: 720px;
@lg-viewport: 1280px;
@xl-viewport: 1600px;
@max-grid-columns: 10;

.ai-grid {
    .row {
        .flex-row;
        flex: 1 1 auto;
        &.reverse {
            -webkit-flex-direction: row-reverse;
            -moz-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
        }
        &.start {
            -webkit-justify-content: flex-start;
            -moz-justify-content: flex-start;
            -ms-justify-content: flex-start;
            justify-content: flex-start;
        }
        &.center {
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            justify-content: center;
        }
        &.end {
            -webkit-justify-content: flex-end;
            -moz-justify-content: flex-end;
            -ms-justify-content: flex-end;
            justify-content: flex-end;
        }
        &.between {
            -webkit-justify-content: space-between;
            -moz-justify-content: space-between;
            -ms-justify-content: space-between;
            justify-content: space-between;
        }
        &.around {
            -webkit-justify-content: space-around;
            -moz-justify-content: space-around;
            -ms-justify-content: space-around;
            justify-content: space-around;
        }
        &.top {
            -ms-flex-align: start;
            align-items: flex-start;
        }
        &.middle {
            -ms-flex-align: center;
            align-items: center;
        }
        &.bottom {
            -ms-flex-align: end;
            align-items: flex-end;
        }
        .col {
            -webkit-box-flex: 0;
            -moz-box-flex: 0;
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        }
    }
    .column {
        .flex-column;

    }
    @media all {
        @media (min-width: @xs-viewport) {
            .row {
                .generate-viewport(xs);
            }
        }
        @media (min-width: @sm-viewport) {
            .row {
                .generate-viewport(sm);
            }
        }
        @media (min-width: @md-viewport) {
            .row {
                .generate-viewport(md);
            }
        }
        @media (min-width: @lg-viewport) {
            .row {
                .generate-viewport(lg)
            }
        }
        @media (min-width: @xl-viewport) {
            .row {
                .generate-viewport(xl);
            }
        }
    }
}

.flex-column() {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex-row() {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-col(@proc) {
    -ms-flex-preferred-size: @proc;
    flex-basis: @proc;
    max-width: @proc;
}
.flex-row-reverse(@prefix) when not(@prefix = '') {
    &.reverse-@{prefix} {
        -webkit-flex-direction: row-reverse;
        -moz-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
}
.flex-row-start(@prefix) when not(@prefix = '') {
    &.start-@{prefix} {
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start;
    }
}
.flex-row-center(@prefix) when not(@prefix = '') {
    &.center-@{prefix} {
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }
}
.flex-row-end(@prefix) when not(@prefix = '') {
    &.end-@{prefix} {
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        -ms-justify-content: flex-end;
        justify-content: flex-end;
    }
}
.flex-row-between(@prefix) when not(@prefix = '') {
    &.between-@{prefix} {
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
    }
}
.flex-row-around(@prefix) when not(@prefix = '') {
    &.around-@{prefix} {
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        -ms-justify-content: space-around;
        justify-content: space-around;
    }
}
.flex-row-top(@prefix) when not(@prefix = '') {
    &.top-@{prefix} {
        -ms-flex-align: start;
        align-items: flex-start;
    }
}
.flex-row-middle(@prefix) when not(@prefix = '') {
    &.middle-@{prefix} {
        -ms-flex-align: center;
        align-items: center;
    }
}
.flex-row-bottom(@prefix) when not(@prefix = '') {
    &.bottom-@{prefix} {
        -ms-flex-align: end;
        align-items: flex-end;
    }
}


.generate-column(@prefix, @i: 1) when(@i =< @max-grid-columns) {
    .@{prefix}-@{i} {
        .flex-col(@i * (100% / @max-grid-columns));
    }
    .generate-column(@prefix, @i + 1);
}

.generate-viewport(@prefix) when not(@prefix = '') {
    .flex-row-reverse(@prefix);
    .flex-row-start(@prefix);
    .flex-row-center(@prefix);
    .flex-row-end(@prefix);
    .flex-row-between(@prefix);
    .flex-row-around(@prefix);
    .flex-row-top(@prefix);
    .flex-row-middle(@prefix);
    .flex-row-bottom(@prefix);
    .generate-column(@prefix);
}