
.row:after, .row:before,
.ai-row:after, .ai-row:before {
    content: " ";
    display: table;
    clear: both;
}
.row, .ai-row {
    padding: 0 15px;
    form, form.ai-form {
        padding: 15px 0;
        .row, .ai-row {
            padding: 0;
        }
    }
}

@col-count: 12;

.generate-column(@i: 1) when(@i =< @col-count) {
    .col-@{i} {
        width: @i * (100% / @col-count) !important;
    }
    .generate-column(@i + 1);
}
.col {
    float: left;
}
.generate-column();