@import "../fonts/akrobat.css";
@import "../fonts/firamono.css";

@base-color: #e8e8e8;

@border-light: darken(@base-color, 11%);
@border-wight: 1px;
@border-radius: @border-wight + 2;

@text-color: darken(@base-color, 71%);
@font-size: 1em;
@font-family: "Akrobat";
@font-pre: "Fira Mono";

@transition-time: 0.25s;

@form-control-height: 35px;
@form-control-padding: 4px;

@focus-color: #275b89;
@require-color: #900;

@primary-color: #3276b1;
@info-color: #57889c;
@success-color: #739e73;
@warning-color: #c79121;
@danger-color: #a90329;

.box-shadow(@type: inset; @x: 0; @y: 0; @blur: 1px; @color: #000) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;
}
.two-box-shadow(@type: inset; @x1: 0; @y1: 0; @blur1: 1px; @color1: #000; @x2: 0; @y2: 0; @blur2: 1px; @color2: #000) {
    -webkit-box-shadow: @type @x1 @y1 @blur1 @color1, @x2 @y2 @blur2 @color2;
    -moz-box-shadow: @type @x1 @y1 @blur1 @color1, @x2 @y2 @blur2 @color2;
    box-shadow: @type @x1 @y1 @blur1 @color1, @x2 @y2 @blur2 @color2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

html, body {
    font: normal @font-size @font-family;
    color: @text-color;
    padding: 0;
    margin: 0;
    height: 100%;
    background: lighten(@base-color, 6%);
}

pre, code {
    font: normal (@font-size - 0.3) @font-pre;
    width: 100%;
    padding: 10px;
    border: @border-wight solid @border-light;
    border-radius: @border-radius;
    overflow: auto;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}

@import "ai-grid-flex";

a {
    text-decoration: none;
}

a:focus, input, button, select, textarea {
    &::-moz-focus-inner {
        border: 0 !important;
        outline: 0;
    }
    &:focus {
        outline: none !important;
    }
}

select {
    color: transparent;
    text-shadow: 0 0 0 #000;
    outline: none !important;
}
textarea {
    min-height: @font-size * 6;
    resize: none;
    outline: none !important;
}

input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]), textarea, select {
    background: lighten(@base-color, 100%);
    padding: @form-control-padding (@form-control-padding + 1);
    height: @form-control-height;
    border: @border-wight solid @border-light;
    border-radius: @border-radius;
    width: calc(~"100% - 40px");
    font: normal @font-size @font-family;
    outline: none !important;
    transition:
        border @transition-time, box-shadow @transition-time, width @transition-time;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    appearance: none !important;
    &:focus {
        width: 100%;
        max-width: calc(~"100% - 0px");
        border-color: @focus-color;
        .two-box-shadow(inset; 0; 1px; 3px; rgba(0,0,0,.05);0; 0; 8px; fade(@focus-color, 60%))!important;
    }
    &:invalid:focus {
        border-color: @require-color;
        .two-box-shadow(inset; 0; 1px; 3px; rgba(0,0,0,.05);0; 0; 8px; fade(@require-color, 60%)) !important;
    }
    &:invalid {
        outline: none !important;
        box-shadow: none;
    }
}

.ai-form {
    padding: 15px;
    .ai-fieldset {
        border: none;
        .ai-field {
            position: relative;
            padding: 20px 10px 10px 0;
        }
    }
    .ai-group-field {
        width: 100%;
        position: relative;
        padding: 20px 10px 10px 0;
        display: table;
    }
}
.ai-form-control {
    position: relative;
    padding: 20px 10px 10px 0;
}

.ai-field {
    input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]),
    textarea, select {
        & + label {
            font-size: @font-size;
            line-height: @font-size;
            position: absolute;
            top: 30px;
            left: 0;
            margin-left: 4px;
            padding: 0 2px;
            color: darken(@base-color, 31%);
            height: @font-size;
            cursor: text;
            transition:
                color @transition-time, top @transition-time;
        }
        &.ng-not-empty + label {
            top: 0;
            color: @text-color;
        }
        &:focus + label {
            top: 0;
            color: @focus-color;
        }
        &:invalid:focus + label {
            top: 0;
            color: @require-color;
        }
        &:required + label:after {
            content: "";
            position: absolute;
            background: @require-color;
            display: inline-block;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            margin-left: 5px;
        }
    }
    & > select {
        & + label + i:before {
            content: "";
            color: darken(@base-color, 31%);
            font-size: @font-size;
            position: absolute;
            top: 18px;
            left: calc(~"100% - 68px");
            transition: left @transition-time, color @transition-time;
        }
        &:focus + label + i:before {
            color: @focus-color;
            left: calc(~"100% - 28px");
        }
        &:invalid:focus + label + i:before {
            color: @require-color;
            left: calc(~"100% - 28px");
        }
        &::-ms-expand {
            height: 0;
            width: 0;
            border: none;
        }
    }
    input[type="file"] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        & + label {
            display: inline-block;
            .color-btn(lighten(@text-color, 100%); @primary-color) !important;
            padding: @form-control-padding (@form-control-padding + 1);
            cursor: pointer;
            border-width: @border-wight;
            border-style: solid;
            border-radius: @border-radius;
            font: bold @font-size @font-family;
            overflow: hidden;
            transition:
                    background @transition-time, border @transition-time;
        }
        &:focus + label {
            border-color: darken(@primary-color, 17%) !important;
            background-color: darken(@primary-color, 10%) !important;
        }
        & + label + label {
            font-size: @font-size;
            line-height: @font-size;
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 4px;
            padding: 0 2px;
            color: @text-color;
            height: @font-size;
            cursor: pointer;
            transition: color @transition-time;
        }
        &:focus + label + label {
            color: @focus-color;
        }
    }
}
.ai-checkbox, .ai-radio {
    display: inline-block;
    position: relative;
}
.ai-checkbox > input[type="checkbox"],
.ai-radio > input[type="radio"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.ai-checkbox > input[type="checkbox"],
.ai-radio > input[type="radio"] {
    & + label {
        cursor: pointer;
        padding-right: 5px;
        padding-left: 23px;
        &:before {
            content: "";
            text-align: center;
            color: lighten(@base-color, 100%);
            font-size: @font-size;
            line-height: @font-size + 1;
            display: inline-block;
            width: @font-size;
            height: @font-size;
            position: absolute;
            margin-left: -23px;
            background: @border-light;
            border: @border-wight solid @border-light;
            border-radius: @border-radius;
            transition:
                    border @transition-time,
                    background @transition-time,
                    box-shadow @transition-time;
        }
        &:hover:before {
            border-color: @focus-color;
            .two-box-shadow(inset; 0; 1px; 3px; rgba(0, 0, 0, .05); 0; 0; 8px; fade(@focus-color, 60%)) !important;
        }
    }
}
.ai-radio > input[type="radio"] + label {
    &:before {
        border-radius: 50%;
    }
}
.ai-checkbox > input[type="checkbox"],
.ai-radio > input[type="radio"] {
    &:focus + label:before {
        border-color: @focus-color;
        .two-box-shadow(inset; 0; 1px; 3px; rgba(0,0,0,.05);0; 0; 8px; fade(@focus-color, 60%))!important;
    }
    &:invalid:focus +label:before {
        border-color: @require-color;
        .two-box-shadow(inset; 0; 1px; 3px; rgba(0,0,0,.05);0; 0; 8px; fade(@require-color, 60%)) !important;
    }
    &:checked + label:before {
        border-color: @focus-color;
        background: @focus-color;
    }
}
.ai-checkbox > input[type="checkbox"],
.ai-radio > input[type="radio"] {
    &:checked + label:after {
        content: '';
        position: absolute;
    }
}
.ai-checkbox > input[type="checkbox"] {
    &:checked + label:after {
        width: 9px;
        height: 5px;
        background: transparent;
        top: 3px;
        left: 3px;
        border: 3px solid lighten(@base-color, 100%);
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
    }
}
.ai-radio > input[type="radio"] {
    &:checked + label:after {
        top: 4px;
        left: 4px;
        background: lighten(@base-color, 100%);
        width: @font-size - 0.4;
        height: @font-size - 0.4;
        border-radius: 50%;
    }
}

input[type="submit"], input[type="reset"], input[type="button"] {
    .color-btn(@text-color, darken(@base-color, 5%));
    padding: @form-control-padding (@form-control-padding + 1);
    cursor: pointer;
    border-width: @border-wight;
    border-style: solid;
    border-radius: @border-radius;
    font: bold @font-size @font-family;
    transition:
        background @transition-time, border @transition-time;
    &:active {
        position: relative;
        top: 1px;
        left: 1px;
    }
}

.btn, button {
    .color-btn(@text-color, darken(@base-color, 5%));
    padding: @form-control-padding (@form-control-padding + 1);
    cursor: pointer;
    border-width: @border-wight;
    border-style: solid;
    border-radius: @border-radius;
    font: bold @font-size @font-family;
    transition:
            background @transition-time, border @transition-time;
    &:active {
        position: relative;
        top: 1px;
        left: 1px;
    }
    span {
        font: bold @font-size @font-family;
    }
}

input[type="submit"], input[type="reset"], input[type="button"],
button {
    &[disabled] {
        cursor: not-allowed;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65;
    }
}

.btn.disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.color-btn(@text: #fff; @bg: #f5f5f5) {
    color: @text;
    border-color: darken(@bg, 5%);
    background-color: @bg;
    &:hover, &:focus {
        color: @text;
        border-color: darken(@bg, 17%);
        background-color: darken(@bg, 10%);
    }
}

input {
    &[type="submit"] {
        .color-btn(lighten(@text-color, 100%); @primary-color);
    }
    &[type="reset"] {
        .color-btn(lighten(@text-color, 100%); @warning-color);
    }
}

.btn {
    &-primary {
        .color-btn(lighten(@text-color, 100%); @primary-color) !important;
    }
    &-info {
        .color-btn(lighten(@text-color, 100%); @info-color) !important;
    }
    &-success {
        .color-btn(lighten(@text-color, 100%); @success-color) !important;
    }
    &-warning {
        .color-btn(lighten(@text-color, 100%); @warning-color) !important;
    }
    &-danger {
        .color-btn(lighten(@text-color, 100%); @danger-color) !important;
    }
}

//header {
//    @height: 70px;
//    height: @height;
//    width: 100%;
//    background: @base-color;
//    border-bottom: @border-wight solid @border-light;
//    &.fixed {
//        position: fixed;
//    }
//    a {
//        display: table-cell;
//        width: 200px;
//        height: @height;
//        line-height: @height;
//        padding-left: 20px;
//        font: bold (@font-size + 2) @font-family;
//        vertical-align: middle;
//        img {
//            max-width: 100%;
//            max-height: 100%;
//        }
//    }
//    a + nav {
//        display: table-cell;
//        width: calc(~"100% - 200px");
//        height: @height;
//        margin-left: 200px;
//        ul {
//            li {
//                list-style: none;
//                float: left;
//                &.active a, &:hover a {
//                    border-width: 2px;
//                    border-color: @focus-color;
//                    //background-image: linear-gradient(to top, @focus-color, transparent);
//                }
//                a {
//                    padding: 0 5px;
//                    width: 100%;
//                    font-size: @font-size + 1;
//                    border-bottom: 1px solid @border-light;
//                    transition: border-color @transition-time;
//                }
//            }
//        }
//    }
//}

.badge {
    background: @base-color;
    color: @text-color;
    border-radius: 10px;
    white-space: nowrap;
    font-size: (@font-size - 0.2);
    padding: 3px 7px;
    min-width: 10px;
    text-align: center;
    &.badge {
        &-primary {
            background: @primary-color;
            color: lighten(@text-color, 100%);
        }
        &-info {
            background: @info-color;
            color: lighten(@text-color, 100%);
        }
        &-success {
            background: @success-color;
            color: lighten(@text-color, 100%);
        }
        &-warning {
            background: @warning-color;
            color: lighten(@text-color, 100%);
        }
        &-danger {
            background: @danger-color;
            color: lighten(@text-color, 100%);
        }
    }
}

ai-modals {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);
    .modal {
        position: absolute;
        margin: 0 @font-size;
        padding: @font-size;
        background: lighten(@base-color, 6%);
        @media all {
            @media (min-width: @xs-viewport) {
                .generate-modal-viewport(xs);
            }
            @media (min-width: @sm-viewport) {
                .generate-modal-viewport(sm);
            }
            @media (min-width: @md-viewport) {
                .generate-modal-viewport(md);
            }
            @media (min-width: @lg-viewport) {
                .generate-modal-viewport(lg)
            }
            @media (min-width: @xl-viewport) {
                .generate-modal-viewport(xl);
            }
        }
        .modal-header {

        }
        .modal-body {
            //margin: @font-size;
            //padding: @font-size;
            //background: lighten(@base-color, 6%);
        }
        .modal-footer {
            text-align: right;
            padding: 10px 0 0 0;
        }
        &.ng-enter {
            animation: @transition-time + 0.25 showSlideUp;
        }
        &.ng-leave {
            animation: @transition-time + 0.25 hideSlideUp;
        }
    }
    &.ng-hide-remove {
        animation: @transition-time + 0.25 fadeIn;
    }
    &.ng-hide-add {
        animation: @transition-time + 0.25 fadeOut;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes showSlideUp {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

@keyframes hideSlideUp {
    0% {
        top: 0;
    }
    100% {
        top: -100%;
    }
}

.generate-modal-width(@prefix, @i: 1) when(@i <= @max-grid-columns) {
    &.@{prefix}-@{i} {
        @w: @i * (100% / @max-grid-columns);
        @m: (100% - @w) / 2;
        width: @w;
        margin-left: @m;
        margin-right: @m;
    }
    .generate-modal-width(@prefix, @i + 1);
}

.generate-modal-viewport(@prefix) when not(@prefix = '') {
    .generate-modal-width(@prefix);
}
