@import "../fonts/akrobat.css";
@import "../fonts/firamono.css";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
html,
body {
  font: normal 1em "Akrobat";
  color: #333333;
  padding: 0;
  margin: 0;
  height: 100%;
  background: #f7f7f7;
}
pre,
code {
  font: normal 0.7em "Fira Mono";
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  overflow: auto;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.ai-grid .row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
.ai-grid .row.reverse {
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.ai-grid .row.start {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}
.ai-grid .row.center {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.ai-grid .row.end {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
.ai-grid .row.between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.ai-grid .row.around {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
.ai-grid .row.top {
  -ms-flex-align: start;
  align-items: flex-start;
}
.ai-grid .row.middle {
  -ms-flex-align: center;
  align-items: center;
}
.ai-grid .row.bottom {
  -ms-flex-align: end;
  align-items: flex-end;
}
.ai-grid .row .col {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.ai-grid .column {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media all and (min-width: 0px) {
  .ai-grid .row.reverse-xs {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .ai-grid .row.start-xs {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
  }
  .ai-grid .row.center-xs {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  .ai-grid .row.end-xs {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
  }
  .ai-grid .row.between-xs {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  .ai-grid .row.around-xs {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
  }
  .ai-grid .row.top-xs {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .ai-grid .row.middle-xs {
    -ms-flex-align: center;
    align-items: center;
  }
  .ai-grid .row.bottom-xs {
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .ai-grid .row .xs-1 {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    max-width: 10%;
  }
  .ai-grid .row .xs-2 {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }
  .ai-grid .row .xs-3 {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    max-width: 30%;
  }
  .ai-grid .row .xs-4 {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .ai-grid .row .xs-5 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .ai-grid .row .xs-6 {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
  }
  .ai-grid .row .xs-7 {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    max-width: 70%;
  }
  .ai-grid .row .xs-8 {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    max-width: 80%;
  }
  .ai-grid .row .xs-9 {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    max-width: 90%;
  }
  .ai-grid .row .xs-10 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media all and (min-width: 480px) {
  .ai-grid .row.reverse-sm {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .ai-grid .row.start-sm {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
  }
  .ai-grid .row.center-sm {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  .ai-grid .row.end-sm {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
  }
  .ai-grid .row.between-sm {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  .ai-grid .row.around-sm {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
  }
  .ai-grid .row.top-sm {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .ai-grid .row.middle-sm {
    -ms-flex-align: center;
    align-items: center;
  }
  .ai-grid .row.bottom-sm {
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .ai-grid .row .sm-1 {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    max-width: 10%;
  }
  .ai-grid .row .sm-2 {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }
  .ai-grid .row .sm-3 {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    max-width: 30%;
  }
  .ai-grid .row .sm-4 {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .ai-grid .row .sm-5 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .ai-grid .row .sm-6 {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
  }
  .ai-grid .row .sm-7 {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    max-width: 70%;
  }
  .ai-grid .row .sm-8 {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    max-width: 80%;
  }
  .ai-grid .row .sm-9 {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    max-width: 90%;
  }
  .ai-grid .row .sm-10 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media all and (min-width: 720px) {
  .ai-grid .row.reverse-md {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .ai-grid .row.start-md {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
  }
  .ai-grid .row.center-md {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  .ai-grid .row.end-md {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
  }
  .ai-grid .row.between-md {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  .ai-grid .row.around-md {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
  }
  .ai-grid .row.top-md {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .ai-grid .row.middle-md {
    -ms-flex-align: center;
    align-items: center;
  }
  .ai-grid .row.bottom-md {
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .ai-grid .row .md-1 {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    max-width: 10%;
  }
  .ai-grid .row .md-2 {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }
  .ai-grid .row .md-3 {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    max-width: 30%;
  }
  .ai-grid .row .md-4 {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .ai-grid .row .md-5 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .ai-grid .row .md-6 {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
  }
  .ai-grid .row .md-7 {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    max-width: 70%;
  }
  .ai-grid .row .md-8 {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    max-width: 80%;
  }
  .ai-grid .row .md-9 {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    max-width: 90%;
  }
  .ai-grid .row .md-10 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media all and (min-width: 1280px) {
  .ai-grid .row.reverse-lg {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .ai-grid .row.start-lg {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
  }
  .ai-grid .row.center-lg {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  .ai-grid .row.end-lg {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
  }
  .ai-grid .row.between-lg {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  .ai-grid .row.around-lg {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
  }
  .ai-grid .row.top-lg {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .ai-grid .row.middle-lg {
    -ms-flex-align: center;
    align-items: center;
  }
  .ai-grid .row.bottom-lg {
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .ai-grid .row .lg-1 {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    max-width: 10%;
  }
  .ai-grid .row .lg-2 {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }
  .ai-grid .row .lg-3 {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    max-width: 30%;
  }
  .ai-grid .row .lg-4 {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .ai-grid .row .lg-5 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .ai-grid .row .lg-6 {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
  }
  .ai-grid .row .lg-7 {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    max-width: 70%;
  }
  .ai-grid .row .lg-8 {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    max-width: 80%;
  }
  .ai-grid .row .lg-9 {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    max-width: 90%;
  }
  .ai-grid .row .lg-10 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media all and (min-width: 1600px) {
  .ai-grid .row.reverse-xl {
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .ai-grid .row.start-xl {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
  }
  .ai-grid .row.center-xl {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  .ai-grid .row.end-xl {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
  }
  .ai-grid .row.between-xl {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  .ai-grid .row.around-xl {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
  }
  .ai-grid .row.top-xl {
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .ai-grid .row.middle-xl {
    -ms-flex-align: center;
    align-items: center;
  }
  .ai-grid .row.bottom-xl {
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .ai-grid .row .xl-1 {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    max-width: 10%;
  }
  .ai-grid .row .xl-2 {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    max-width: 20%;
  }
  .ai-grid .row .xl-3 {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    max-width: 30%;
  }
  .ai-grid .row .xl-4 {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 40%;
  }
  .ai-grid .row .xl-5 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .ai-grid .row .xl-6 {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 60%;
  }
  .ai-grid .row .xl-7 {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    max-width: 70%;
  }
  .ai-grid .row .xl-8 {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    max-width: 80%;
  }
  .ai-grid .row .xl-9 {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    max-width: 90%;
  }
  .ai-grid .row .xl-10 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
a {
  text-decoration: none;
}
a:focus::-moz-focus-inner,
input::-moz-focus-inner,
button::-moz-focus-inner,
select::-moz-focus-inner,
textarea::-moz-focus-inner {
  border: 0 !important;
  outline: 0;
}
a:focus:focus,
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none !important;
}
select {
  color: transparent;
  text-shadow: 0 0 0 #000;
  outline: none !important;
}
textarea {
  min-height: 6em;
  resize: none;
  outline: none !important;
}
input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]),
textarea,
select {
  background: #ffffff;
  padding: 4px 5px;
  height: 35px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: calc(100% - 40px);
  font: normal 1em "Akrobat";
  outline: none !important;
  transition: border 0.25s, box-shadow 0.25s, width 0.25s;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  appearance: none !important;
}
input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):focus,
textarea:focus,
select:focus {
  width: 100%;
  max-width: calc(100% - 0px);
  border-color: #275b89;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(39, 91, 137, 0.6) !important;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(39, 91, 137, 0.6) !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(39, 91, 137, 0.6) !important;
}
input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):invalid:focus,
textarea:invalid:focus,
select:invalid:focus {
  border-color: #990000;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(153, 0, 0, 0.6) !important;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(153, 0, 0, 0.6) !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(153, 0, 0, 0.6) !important;
}
input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):invalid,
textarea:invalid,
select:invalid {
  outline: none !important;
  box-shadow: none;
}
.ai-form {
  padding: 15px;
}
.ai-form .ai-fieldset {
  border: none;
}
.ai-form .ai-fieldset .ai-field {
  position: relative;
  padding: 20px 10px 10px 0;
}
.ai-form .ai-group-field {
  width: 100%;
  position: relative;
  padding: 20px 10px 10px 0;
  display: table;
}
.ai-form-control {
  position: relative;
  padding: 20px 10px 10px 0;
}
.ai-field input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]) + label,
.ai-field textarea + label,
.ai-field select + label {
  font-size: 1em;
  line-height: 1em;
  position: absolute;
  top: 30px;
  left: 0;
  margin-left: 4px;
  padding: 0 2px;
  color: #999999;
  height: 1em;
  cursor: text;
  transition: color 0.25s, top 0.25s;
}
.ai-field input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]).ng-not-empty + label,
.ai-field textarea.ng-not-empty + label,
.ai-field select.ng-not-empty + label {
  top: 0;
  color: #333333;
}
.ai-field input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):focus + label,
.ai-field textarea:focus + label,
.ai-field select:focus + label {
  top: 0;
  color: #275b89;
}
.ai-field input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):invalid:focus + label,
.ai-field textarea:invalid:focus + label,
.ai-field select:invalid:focus + label {
  top: 0;
  color: #990000;
}
.ai-field input:not([type="submit"]):not([type="reset"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):required + label:after,
.ai-field textarea:required + label:after,
.ai-field select:required + label:after {
  content: "";
  position: absolute;
  background: #990000;
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin-left: 5px;
}
.ai-field > select + label + i:before {
  content: "";
  color: #999999;
  font-size: 1em;
  position: absolute;
  top: 18px;
  left: calc(100% - 68px);
  transition: left 0.25s, color 0.25s;
}
.ai-field > select:focus + label + i:before {
  color: #275b89;
  left: calc(100% - 28px);
}
.ai-field > select:invalid:focus + label + i:before {
  color: #990000;
  left: calc(100% - 28px);
}
.ai-field > select::-ms-expand {
  height: 0;
  width: 0;
  border: none;
}
.ai-field input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.ai-field input[type="file"] + label {
  display: inline-block;
  color: #ffffff !important;
  border-color: #2c699d !important;
  background-color: #3276b1 !important;
  padding: 4px 5px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  font: bold 1em "Akrobat";
  overflow: hidden;
  transition: background 0.25s, border 0.25s;
}
.ai-field input[type="file"] + label:hover,
.ai-field input[type="file"] + label:focus {
  color: #ffffff !important;
  border-color: #1f496d !important;
  background-color: #275b89 !important;
}
.ai-field input[type="file"]:focus + label {
  border-color: #1f496d !important;
  background-color: #275b89 !important;
}
.ai-field input[type="file"] + label + label {
  font-size: 1em;
  line-height: 1em;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 4px;
  padding: 0 2px;
  color: #333333;
  height: 1em;
  cursor: pointer;
  transition: color 0.25s;
}
.ai-field input[type="file"]:focus + label + label {
  color: #275b89;
}
.ai-checkbox,
.ai-radio {
  display: inline-block;
  position: relative;
}
.ai-checkbox > input[type="checkbox"],
.ai-radio > input[type="radio"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.ai-checkbox > input[type="checkbox"] + label,
.ai-radio > input[type="radio"] + label {
  cursor: pointer;
  padding-right: 5px;
  padding-left: 23px;
}
.ai-checkbox > input[type="checkbox"] + label:before,
.ai-radio > input[type="radio"] + label:before {
  content: "";
  text-align: center;
  color: #ffffff;
  font-size: 1em;
  line-height: 2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: absolute;
  margin-left: -23px;
  background: #cccccc;
  border: 1px solid #cccccc;
  border-radius: 3px;
  transition: border 0.25s, background 0.25s, box-shadow 0.25s;
}
.ai-checkbox > input[type="checkbox"] + label:hover:before,
.ai-radio > input[type="radio"] + label:hover:before {
  border-color: #275b89;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(39, 91, 137, 0.6) !important;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(39, 91, 137, 0.6) !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(39, 91, 137, 0.6) !important;
}
.ai-radio > input[type="radio"] + label:before {
  border-radius: 50%;
}
.ai-checkbox > input[type="checkbox"]:focus + label:before,
.ai-radio > input[type="radio"]:focus + label:before {
  border-color: #275b89;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(39, 91, 137, 0.6) !important;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(39, 91, 137, 0.6) !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(39, 91, 137, 0.6) !important;
}
.ai-checkbox > input[type="checkbox"]:invalid:focus + label:before,
.ai-radio > input[type="radio"]:invalid:focus + label:before {
  border-color: #990000;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(153, 0, 0, 0.6) !important;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(153, 0, 0, 0.6) !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(153, 0, 0, 0.6) !important;
}
.ai-checkbox > input[type="checkbox"]:checked + label:before,
.ai-radio > input[type="radio"]:checked + label:before {
  border-color: #275b89;
  background: #275b89;
}
.ai-checkbox > input[type="checkbox"]:checked + label:after,
.ai-radio > input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
}
.ai-checkbox > input[type="checkbox"]:checked + label:after {
  width: 9px;
  height: 5px;
  background: transparent;
  top: 3px;
  left: 3px;
  border: 3px solid #ffffff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}
.ai-radio > input[type="radio"]:checked + label:after {
  top: 4px;
  left: 4px;
  background: #ffffff;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: #333333;
  border-color: #cecece;
  background-color: #dbdbdb;
  padding: 4px 5px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  font: bold 1em "Akrobat";
  transition: background 0.25s, border 0.25s;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333333;
  border-color: #b0b0b0;
  background-color: #c2c2c2;
}
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  position: relative;
  top: 1px;
  left: 1px;
}
.btn,
button {
  color: #333333;
  border-color: #cecece;
  background-color: #dbdbdb;
  padding: 4px 5px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  font: bold 1em "Akrobat";
  transition: background 0.25s, border 0.25s;
}
.btn:hover,
button:hover,
.btn:focus,
button:focus {
  color: #333333;
  border-color: #b0b0b0;
  background-color: #c2c2c2;
}
.btn:active,
button:active {
  position: relative;
  top: 1px;
  left: 1px;
}
.btn span,
button span {
  font: bold 1em "Akrobat";
}
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled],
button[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}
.btn.disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}
input[type="submit"] {
  color: #ffffff;
  border-color: #2c699d;
  background-color: #3276b1;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  color: #ffffff;
  border-color: #1f496d;
  background-color: #275b89;
}
input[type="reset"] {
  color: #ffffff;
  border-color: #b1811d;
  background-color: #c79121;
}
input[type="reset"]:hover,
input[type="reset"]:focus {
  color: #ffffff;
  border-color: #7d5b15;
  background-color: #9b711a;
}
.btn-primary {
  color: #ffffff !important;
  border-color: #2c699d !important;
  background-color: #3276b1 !important;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #ffffff !important;
  border-color: #1f496d !important;
  background-color: #275b89 !important;
}
.btn-info {
  color: #ffffff !important;
  border-color: #4e7a8c !important;
  background-color: #57889c !important;
}
.btn-info:hover,
.btn-info:focus {
  color: #ffffff !important;
  border-color: #385764 !important;
  background-color: #456b7b !important;
}
.btn-success {
  color: #ffffff !important;
  border-color: #659265 !important;
  background-color: #739e73 !important;
}
.btn-success:hover,
.btn-success:focus {
  color: #ffffff !important;
  border-color: #4c6e4c !important;
  background-color: #5b835b !important;
}
.btn-warning {
  color: #ffffff !important;
  border-color: #b1811d !important;
  background-color: #c79121 !important;
}
.btn-warning:hover,
.btn-warning:focus {
  color: #ffffff !important;
  border-color: #7d5b15 !important;
  background-color: #9b711a !important;
}
.btn-danger {
  color: #ffffff !important;
  border-color: #900323 !important;
  background-color: #a90329 !important;
}
.btn-danger:hover,
.btn-danger:focus {
  color: #ffffff !important;
  border-color: #540114 !important;
  background-color: #77021d !important;
}
.badge {
  background: #e8e8e8;
  color: #333333;
  border-radius: 10px;
  white-space: nowrap;
  font-size: 0.8em;
  padding: 3px 7px;
  min-width: 10px;
  text-align: center;
}
.badge.badge-primary {
  background: #3276b1;
  color: #ffffff;
}
.badge.badge-info {
  background: #57889c;
  color: #ffffff;
}
.badge.badge-success {
  background: #739e73;
  color: #ffffff;
}
.badge.badge-warning {
  background: #c79121;
  color: #ffffff;
}
.badge.badge-danger {
  background: #a90329;
  color: #ffffff;
}
ai-modals {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
ai-modals .modal {
  position: absolute;
  margin: 0 1em;
  padding: 1em;
  background: #f7f7f7;
}
@media all and (min-width: 0px) {
  ai-modals .modal.xs-1 {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
  }
  ai-modals .modal.xs-2 {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }
  ai-modals .modal.xs-3 {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
  ai-modals .modal.xs-4 {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  ai-modals .modal.xs-5 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  ai-modals .modal.xs-6 {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  ai-modals .modal.xs-7 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  ai-modals .modal.xs-8 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  ai-modals .modal.xs-9 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  ai-modals .modal.xs-10 {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media all and (min-width: 480px) {
  ai-modals .modal.sm-1 {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
  }
  ai-modals .modal.sm-2 {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }
  ai-modals .modal.sm-3 {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
  ai-modals .modal.sm-4 {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  ai-modals .modal.sm-5 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  ai-modals .modal.sm-6 {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  ai-modals .modal.sm-7 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  ai-modals .modal.sm-8 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  ai-modals .modal.sm-9 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  ai-modals .modal.sm-10 {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media all and (min-width: 720px) {
  ai-modals .modal.md-1 {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
  }
  ai-modals .modal.md-2 {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }
  ai-modals .modal.md-3 {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
  ai-modals .modal.md-4 {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  ai-modals .modal.md-5 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  ai-modals .modal.md-6 {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  ai-modals .modal.md-7 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  ai-modals .modal.md-8 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  ai-modals .modal.md-9 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  ai-modals .modal.md-10 {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media all and (min-width: 1280px) {
  ai-modals .modal.lg-1 {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
  }
  ai-modals .modal.lg-2 {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }
  ai-modals .modal.lg-3 {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
  ai-modals .modal.lg-4 {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  ai-modals .modal.lg-5 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  ai-modals .modal.lg-6 {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  ai-modals .modal.lg-7 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  ai-modals .modal.lg-8 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  ai-modals .modal.lg-9 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  ai-modals .modal.lg-10 {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media all and (min-width: 1600px) {
  ai-modals .modal.xl-1 {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
  }
  ai-modals .modal.xl-2 {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }
  ai-modals .modal.xl-3 {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
  ai-modals .modal.xl-4 {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  ai-modals .modal.xl-5 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
  ai-modals .modal.xl-6 {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  ai-modals .modal.xl-7 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  ai-modals .modal.xl-8 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  ai-modals .modal.xl-9 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  ai-modals .modal.xl-10 {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
ai-modals .modal .modal-footer {
  text-align: right;
  padding: 10px 0 0 0;
}
ai-modals .modal.ng-enter {
  animation: 0.5s showSlideUp;
}
ai-modals .modal.ng-leave {
  animation: 0.5s hideSlideUp;
}
ai-modals.ng-hide-remove {
  animation: 0.5s fadeIn;
}
ai-modals.ng-hide-add {
  animation: 0.5s fadeOut;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showSlideUp {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@keyframes hideSlideUp {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
