//.padding(@t: none, @r: none, @b: none, @l: none) {
//    & when not (@t = none) { padding+_: @t; }
//    & when not (@r = none) { padding+_: @r; }
//    & when not (@b = none) { padding+_: @b; }
//    & when not (@l = none) { padding+_: @l; }
//}
.paddings(@t: none, @r: none, @b: none, @l: none) {
    & when not (@t = none) { padding: @t; }
    & when not (@r = none) { padding: @t @r; }
    & when not (@b = none) { padding: @t @r @b; }
    & when not (@l = none) { padding: @t @r @b @l; }
}